<div class="col-12 col-md-12 col-lg-12">
    <div class="card my-2">
        <div class="card-body txt pd">
        {{ variables.name is defined ? variables.name }} ({{ variables.age is defined ? variables.age }}, {{ variables.gender is defined ? variables.gender }}, {{ variables.race is defined ? variables.race }}) is a {{ variables.class is defined ? variables.class }} from {{ variables.background is defined ? variables.background }}.
        </div>
    </div>
</div>